<!DOCTYPE html>
<html>
<head>
    <title>webpage under construction</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="hotbar">
		<a href="/">a home</a>
		<a href="/blog">blog</a>
		<a href="/about">About</a>
	</div>
	
	<div class ="title">
    	<h1>hello! welcome to my webpage!</h1>
	</div>
	
	<div class="wrapper">
		<div class="desc">
			<h1 class ="animated-heading"> site<span class="word-space"> </span><span class="worm-text">
				    <span>u</span><span>p</span><span>d</span><span>a</span><span>t</span><span>e</span><span>s</span>
					</h1>
				<p>added hotbar + navigation, added home, about, and blog pages, added site fonts</p>
	</div>
	<br>
	<br>
	<div class="desc">
			<h1 class ="animated-heading"> latest scoop </h1>
				<p> i been doing stuff </p>
				<a href="/blog" class="button">clicky me!!</a>
		
</body>
</html>